/* width */
::-webkit-scrollbar {
	width: 9px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(86, 88, 105);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #acacbe;
}
